<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam nemo dolore reprehenderit odit ut necessitatibus quaerat natus doloremque, consectetur libero dolorem velit. Officiis totam ullam, 
            veniam perferendis laborum sapiente saepe sit reiciendis ex impedit hic quod ratione at in?

        </p>
    </div>
</div>